*{
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    font-family: 'Arial Narrow', sans-serif;
}

#ch {
    display: none;
    float: right;
}
#lab {
    width: 30px;
    height: 30px;
    background: Linear-gradient(rgb(0, 0, 0) 0%,rgb(0, 0, 0) 20%,transparent 21%,transparent 40%,rgb(0, 0, 0) 41%,rgb(0, 0, 0) 60%,transparent 61%,transparent 80%,rgb(0, 0, 0) 81%,rgb(0, 0, 0) 100%);
    margin: 12px;
    display: none;
    float: right;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
#navbar ul {
display: flex;
list-style: none;
margin: 20px;
}
#navbar ul li a{
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    padding: 8px 25px;
    text-decoration: none;
    transition: all .5s ease;
}
#navbar ul li {
    overflow-y: hidden;
}
#navbar ul li a:hover{
    color: brown;
}

#accueil {
    display: flex;
    flex-direction: column;
    height: 843px;
}

#accueil::before{
    content: "";
    background: url('images/img2.jpg') no-repeat center center/cover;
    top: 0%;
    right: 0%;
    position: absolute;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

#heading {
    font-size: 2.6rem;
    font-weight: bold;
    color: rgb(53, 27, 78);
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    align-items: center;
    top: 40%;
    right: 5%;
    position: absolute;
}

.fleche {
   position: fixed;
   top: 80%;
   left: 92%;
   width: 50px;
   height: 50px;
}
.flech {
    transition: all 1s ease;
}
#apropos {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    box-sizing: border-box;
}

.image {
    display: flex;
}

.headings {
    font-size: 3rem;
    text-align: center;
}
#about {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 350px;
    height: 350px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.row .box{
    flex:1 1 40%;
    background-color: #eff3f5;
    border-radius: 20px;
    box-shadow: 0 15px 15px rgba(0,0,0,.1);
    padding:10px 10px;
    margin: 20px;
}
.title{
    color:#222;
    font-size: 1.7rem;
    padding:.5rem 0;
}
.progress{
    padding:.5rem 0;
}
.progress h3{
    font-size: 1.3rem;
    color:#666;
    display: flex;
    justify-content: space-between;
}
.bar{
    height: 1.5rem;
    border-radius: .3rem;
    border:.2rem solid #4C84FF;
    padding:.3rem;
    margin: .3rem 0;
}
.bar span{
    height: 100%;
    border-radius: .3rem;
    background-color: #4C84FF;
    display: block;
}
.row .box:nth-child(1) .progress:nth-child(2) .bar span{
    width: 95%;
}
.row .box:nth-child(1) .progress:nth-child(3) .bar span{
    width: 80%;
}
.row .box:nth-child(1) .progress:nth-child(4) .bar span{
    width: 65%;
}

.row .box:nth-child(1) .progress:nth-child(5) .bar span{
    width: 75%;
}

.row .box:nth-child(2) .progress:nth-child(2) .bar span{
    width: 50%;
}

.row .box:nth-child(2) .progress:nth-child(3) .bar span{
    width: 67%;
}

.row .box:nth-child(2) .progress:nth-child(4) .bar span{
    width: 50%;
}

.row .box:nth-child(2) .progress:nth-child(5) .bar span{
    width: 70%;
}

.row .box .exp-box{
    padding:0 1rem;
    margin-top: .6rem;
    margin-bottom: .2rem;
    border-left: .2rem solid #4C84FF;
    position: relative;
}

.row .box .exp-box h3{
    color:#4C84FF;
    font-size: 1.3rem;
}

.row .box .exp-box p{
    font-size: 1rem;
    padding:.6rem 0;
}
#portfolio {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 200px;
   
}
#contenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 20px;
}
#un, #deux ,#trois, #quatre {
  text-align: center;
  display: flex;
  flex-direction: column;
  width:25rem;
  height: 20rem;
  margin-bottom: 20px;
  text-align: justify;
  border-radius: 15px;
  box-shadow: 0 15px 15px rgba(0,0,0,.1);
  position: relative;
}
#un img, #deux img ,#trois img, #quatre img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info p {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
#un .info, #deux .info, #trois .info, #quatre .info{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
    box-shadow:0 0 15px;
    opacity: .8;
    transform: scale(0);

}
#un:hover .info, #deux:hover .info, #trois:hover .info, #quatre:hover .info {
    transform: scale(1);
    transition: all .5s ease;
}
#contact {
    display: flex;
    flex-direction: column;
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #eff3f5;
    border-radius: 15px;
    margin: 20px;
}
form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: left;
    padding: 20px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    color:black;
    width: 300px;
    height: 500px;
    font-size: 16px;
    border-radius: 7px;
    box-shadow: 0 15px 15px rgba(0,0,0,.1);
}
#cont {
    display: flex;

}
#nom, #email, #btn {
    width: 100%;
    height: 7%;
}
textarea {
    height: 50%;
    width: 100%;
}
.cont1 {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.cont1 a {
    text-decoration: none;
}
.cont1 .box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.cont1 .box h3 {
    margin-bottom: 10px;
}
.cont1 .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    color:black;
    width: 200px;
    height: 150px;
    font-size: 16px;
    border-radius: 7px;
    box-shadow: 0 15px 15px rgba(0,0,0,.1);
    
}
#footer {
    background-color: rgba(0,0,0,0.8);
    height: 100px;
    color: white;
}
#footer1 p {
    font-size: .9rem;
    text-align:center;
    padding-top: 80px;
}
@media all and (max-width:764px) {
    #accueil {
        height: 300px;
    }
    #accueil::before {
        height: 500px;
    }
    #navbar{
        display: block;
        align-content: center;
        background-color: rgba(0,0,0,0.5);
        transform: translate(-800px,0);
        margin-top: 40px;
        width: 100%;
    }
    #lab {
        display: block;
    }
    #ch:checked +#navbar{
        transform: translate(0,0);
        transition: all .5s ease;
        margin-top: 35px;

    }
    #navbar ul {
        display: block;
        text-align: center;
        list-style: none;
        margin: 20px;
    }
    #navbar ul li a{
        font-family: fantasy;
        font-size: 1.2rem;
        color: white;
        font-weight: bold;
        padding: 8px 25px;
        text-decoration: none;
        transition:linear 1s;
    }
    #navbar ul li {
        overflow-y: hidden;
        padding: 10px;
    }
    #navbar ul li:hover {
        overflow-y: hidden;
        padding: 10px;
        background-color: rgba(255,255,255,.6);
    }
    #navbar ul li a:hover{
        color: white;
        text-shadow: 0 0 30px white;
    }
  
    #heading {
        font-size: 2em;
        font-weight: bold;
        color: rgb(55, 40, 68);
        align-items: center;
        top: 40%;
        right: 30%;
        position: absolute;
    }
    .fleche {
        position: fixed;
        top: 60%;
        left: 90%; 
        width: 30px;
        height: 30px;
     }
     .cont1 {
        display: flex;
        flex-direction: column;
    }
    #container {
        display: flex;
        flex-direction: column;
    }

}





