/* start about */

#about{
    margin-top: 50px;
    background-color:var(--section-background);
    max-width: 100%;
}


#about #about-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 30px;
    margin-top: 50px;
    transition: all 5.3s ease;
}

#about .card {
    background-color: white;
    cursor: pointer;
    padding-bottom: 40px;
}

#about .card img{
    max-width: 100%;
    height: 100%;
}
#about #about-content .card:hover{
    transform: scale(1.1);
}
#about .card .info{
    padding: 0px;
}
#about .info h3 {
    margin: 0;
}
#about .info p{
    color: #777;
    line-height: 1.6;
    margin-bottom: none;

}

#about .shuffle{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

#about .shuffle li {
    padding: 10px;
    text-decoration: none;
}

@media(max-width:767px){
    #about .shuffle li {
        padding: .5px;
        text-decoration: none;
        font-size: 15px;
    }
    #about .card img{
        max-width: 100%;
        height: 100%;
    }
    #about .shuffle{
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }
    #about .shuffle a.affiche {
        top: 30px;
    }
}


#about .shuffle a {
    position: relative;
    text-decoration: none;
    padding: 10px;
}
#about .shuffle a.ajout{
    color: white;
    background-color: var(--main-color);
}

#about .shuffle a.affiche{
    color: white;
    background-color: var(--main-color);
}


#about .shuffle a:hover{
    color: black;
    background-color: rgb(219, 205, 12);
}
