
       #map {
        height: 50%;
        top: 110px;
        margin-bottom: 110px;
      }
      
      html,
      body {
        height: 100%;

      }
      #passage {
        display: none;
      }
      #filter {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
      }
      #loc {
        margin-left: 64%;
      }



   