* {
    padding: 0%;
    margin: 0%;
}
.containerall{
    border: solid 7px white;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 50px;
    box-shadow: 0 2px 2px 2px #cac8c8;
}

@media(max-width:767px){
    .containerall{
        flex-direction: column;
    }
}
.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media(max-width:767px){
    .container1{
        flex-direction: column;
    }
}
#cont {
    flex:1 1 50%;
    align-items: center;
    justify-content: center;
    padding:10px;
    font-size: 1.2rem;

}
.ges {
    width: 400px;
    height: 350px;
}
@media(max-width: 767px){
    .ges {
        width: 300px;
        height: 250px;
    }    
}

h3{
    text-align: center;
    padding: 5px;
}

h2 {
    text-align: center;
    color: #E98045;
    text-shadow: 1px 1px 1px rgb(143, 138, 138);
    padding-top: 15px;
    
}
form {
    padding: 5px;
    font-size: 1.2rem;
}

.gps_x, .gps_y, .frequence_sub, .longeur, .largeur, .trafic_journalier, .taux_accidentalite, .type_ouvrage, .cours_eau, .localisation {
    width: 100%;
    height: 35px;
    background-color: #f0f2f8;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8c8c;
    margin-bottom: 30px;
}
#cont-btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;

}
#cont-btn .submit {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: #866350;
    margin: 5px;
}
@media(max-width:767px){
    #cont-btn  {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        
    }
}
@media(max-width:767px){
    #cont-btn .submit{
        width: 200px;
    }
}



