
       #map {
        height: 50%;
        top: 97px;
        margin-bottom: 97px;
      }
      
      html,
      body {
        height: 100%;

      }
      #passage {
        display: none;
      }
      #filter {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
      }
      



   