/* statr contact */

#contact{
    padding-top: 10px;
    padding-bottom: 10px;
}

#contact .info{
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

#contact .info .label{
    font-size: 30px;
    font-weight: 800;
    color: var(--secondary-color); 
}

#contact .info .link{
    display: block;
    font-size: 20px;
    font-weight: 800;
    color: rgb(42, 184, 184);
    text-decoration: none;
}

#contact .info .social{
    display:flex;
    justify-content:center;
    margin-top: 20px;
    font-size: 20px;
}

#contact .info .social i{
    margin-left: 10px;
    color: rgb(20, 81, 172);
}

@media(max-width: 767px){
    #contact .info .label,
    #contact .info .link{
        font-size: 25px;
    }
}
#contact .social .youtube i{
    color: red;
}
/* End contact */


/* statrt logo */

logos{
width: 100vw;
display: flex;
flex-flow: row wrap;
justify-content: space-evenly;
}


logos div {
    display: flex;
    min-width: 50vw;
    width: fit-content;
    max-width: 100vw;
    justify-content: space-between;
    padding-top: 20px;
}
@media(max-width:768px){
    logos div{
        flex-direction: column;
        width: fit-content;
    }
}
@media(max-width:768px){
    logos div figure img{
        flex-direction: column;
        width: 30%;
        align-items: center;
        margin-left: 35%;
        margin-right: 30%;
    }
}
a {
    color: #008cba;
    text-decoration: underline;
}

figure {
    margin: 0 0 1rem;
}

figure img:nth-child(1) {
    height: 130px;
}

img, svg {
    vertical-align: middle;
}
    
/* End logo */