

.footer {
    background-color: var(--main-color);
    color: var(--main-color);
    padding: 40px 10px;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
}

.footer span {
    font-weight: bold;
    color: black;
    padding-top: 20px;
}

.btn {
    border-radius: 5px 0 5px;
    border: 1px;
    box-shadow: 0 0 0 rgb(0 0 0 / 30%);
    background-color: white;
    transition: 0.3s ease-out all;
    margin: auto;
    text-decoration: none;
}