header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: var(--main-color);
}

header .container{
    display: flex;
    align-items: center;
    position: relative;
    min-height: 97px;
    width: 90%;
    background-color:var(--main-color);
    justify-content:space-between ;
}

.header-user .logo{
    width: 75px;
}
.header-user h3 {
    font-size: 20px;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header-user .links ul{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header nav .menu{
    color:white;
    font-size: 22px;
}
header nav ul li a {
    padding: 40px 10px;
    display: block;
    color:black;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}

header nav ul li a.home{
    color:black
}
header nav ul li a:hover{
    color:white;
}

.header-user .links i {
    padding-right: 50px;
    position: absolute;
    color: rgb(104, 102, 102);
    right: 40px;
    top: 50%;
    display: none;
}

@media(max-width:767px){
    .header-user h3{
        font-size: 15px;
        flex-direction: column;
    }
    .header-user .links ul{
        list-style: none;
        position: absolute;
        padding: 0;
        margin: 0;
        right: 0;
        background-color: #ffe2e2;
        z-index: 1;
        margin-top: 40px;
        width: 350px;
        display: none;
    }
    .header-user .links ul li a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color:#333;
        transition: 0.3s;
        border-bottom: 4px solid #ddd;
    }
    .header-user .links ul li a:hover{
        color: rgb(197, 73, 23);
        padding-left: 25px;
        display: flex;
    }
    .header-user .links:hover ul{
         display: block;
         transition: all 10s ease;
    }
    .header-user .links i {
        display: block;
    }
    
}
