/* Start variables */
:root{
    --main-color:#E98045;
    --section-padding:100px;
}
/* End Variables */
/* ##############################" */

/* start blobal rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Smaill */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
   
}

/* Medium */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}

/* Larg */
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}

/* End global Rules */

/* #########################################" */


