* {
    padding: 0%;
    margin: 0%;
}

.container1 {
    border: solid 7px #E98045;
    justify-content: center;
    height: 600px;
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0 2px 2px 2px #cac8c8;
    background-color: #f0f2f8af;
    margin-top: 70px;

}
@media(max-width:767px){
    .container1{
        width: 90%;
        margin-top: 50px;
    }
}
.alert-danger {
    color: crimson;
    text-align: center;
    padding-top: 5px;
}
.alert-success {
    color:green;
    text-align: center;
    padding-top: 5px;
}
#creer {
    text-align: center;
    color: #E98045;
    text-shadow: 1px 1px 1px rgb(143, 138, 138);
    padding-top: 15px;
    
}
form {
    padding: 5px;
    font-size: 1.2rem;
}

.prenom, .name  {
    width: 49.5%;
    height: 35px;
    background-color: #f0f2f8;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8c8c;
    margin-bottom: 20px;
}
@media(max-width:767px){
    .prenom, .name{
        width: 49%;
       
    }
}
.prenom1 {
    margin-left: 39%;
}
.email, .password, .password1 {
    width: 100%;
    height: 35px;
    background-color: #f0f2f8;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8c8c;
    margin-bottom: 20px;
}
.file {
    width: 100%;
    height: 35px;
    margin-bottom: 20px; 
}
 hr {
    margin-top: 6px;
    margin-bottom: 3px;
    width: 70%;
    margin-left: 15%;
    height: 3px;
}
#connection {
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
}
.submit {
    margin-left: 30%;
    height: 30px;
    width: 40%;
    background-color: #745646;
    color: white;
}

