

#landing{
min-height: 100vh;
background-image: url(/images/landing.jpg);
background-position: center;
background-size: cover;
background-attachment: fixed;
padding-top: 120px;
padding-bottom: 15px;
}
    
#landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgb(10 10 10/ 55%); */
}

#landing .text {
    position: absolute;
    left: 0;
    top: 55%;
    transform:translateY(-50%);
    width: 50%;
    padding: 50px;
    color:black;
    background-color:#e98045d4;
    display:flex;
    justify-content: flex-end;
    text-align: justify;
}
@media(max-width:767px){
    #landing .text{
        width: 100%;
        padding: 0%;
        margin-top: 5%; 
    }
    #landing .text .content {
     padding: 5px;
    }
}

#landing .text .content {
    max-width: 500px;
}

@media(max-width:767px){
    #landing .text .content{
        width: 100%;
        
    }
}


#landing .text .content h2{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}
#landing .text .content p{
    font-size: 14px;
    line-height: 2;
}

#landing .change-background {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}
@media(max-width:767px){
    #landing .change-background{
        display: none;    
    }
}
