* {
    padding: 0%;
    margin: 0%;
    
}
.container2 {
    border: solid 7px #E98045;
    justify-content: center;
    height: 500px;
    width: 40%;
    margin: 0 auto;
    box-shadow: 0 2px 2px 2px #cac8c8;
    background-color: #f0f2f890;
    margin-top: 50px;
}
@media(max-width:767px){
    .container2{
        width: 90%;
        margin-top: 50px;
    }
}
.alert-danger {
    color: crimson;
    text-align: center;
    padding-top: 5px;
}
.alert-success {
    color:green;
    text-align: center;
    padding-top: 5px;
}
#connecter {
    text-align: center;
    color: #E98045;
    text-shadow: 1px 1px 1px rgb(143, 138, 138);
    padding-top: 15px;
    
}
form {
    padding: 5px;
    font-size: 1.2rem;
}

.name {
    width: 100%;
    height: 35px;
    background-color: #f0f2f8;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8c8c;
    margin-bottom: 20px;
}

.password {
    width: 100%;
    height: 35px;
    background-color: #f0f2f8;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8c8c;
    margin-bottom: 20px;
}
hr {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 70%;
    margin-left: 15%;
    height: 2px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8c8c inset;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 

}
#connection {
    text-align: center;
    text-decoration: none;
}
.submit {
    margin-left: 30%;
    height: 30px;
    width: 40%;
    background-color: #745646;
    color: white;
    margin-bottom: 20px;
}

