
/* statrt component main heading */
.main-heading{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0;
    width: 100%;
}

.main-heading h2{
    position: relative;
    font-weight:normal;
    font-size:40px;
    color:var(--main-color);
    text-transform: uppercase;
    margin-bottom: 50px;
}

.main-heading h2::before{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    height: 2px;
    width: 120px;
    bottom: -30px;
}


.main-heading h2::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;

}

.main-heading p{
    width: 550px;
    margin: 0 auto 10px;
    max-width: 100%;
    line-height: 2;
    color: #777;
    font-family: 20px;
}


/* End component main heading */