* {
    padding: 0;
    margin: 0;
}

.containerall{
    border: solid 7px #dfb298;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 50px;
    box-shadow: 0 2px 2px 2px #cac8c8;
    height: 100%;
    
}
.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#cont {
    flex:1 1 40%;
    align-items: center;
    justify-content: center;
    padding:10px;
    margin-left: 10%;
}

h2 {
    text-align: center;
    color: #E98045;
    text-shadow: 1px 1px 1px rgb(143, 138, 138);
    padding-top: 15px;
    
}
form {
    padding: 5px;
    font-size: 1.2rem;
}

.prenom, .name, .email, .password, .password1 {
    width: 100%;
    height: 35px;
    background-color: #f0f2f8;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8c8c;
    margin-bottom: 30px;
}
.submit {
    height: 30px;
    width: 40%;
    background-color: #745646;
    color: white;
}


