*{
    padding: 0%;
    margin: 0%;
}
#heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    background-color: #323d57;
}
#logo {
    width:300px;
}
#heading h2 {
    color: white;
    margin: 0 30% 0 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold ;
    font-size: 40px;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-color: #eff3f5;
    border-radius: 15px;
    margin: 20px;
}
#container form {
    display: flex;
    flex-wrap: wrap;

}
#container #box1 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: left;
    background-color: white;
    padding: 20px;
    margin: 20px;
    color:black;
    width: 300px;
    font-size: 20px;
    border-radius: 7px;
    box-shadow: 0 15px 15px rgba(0,0,0,.1);
}
#container #box2 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: left;
    background-color: white;
    padding: 20px;
    margin: 20px;
    color:black;
    width: 300px;
    height: 200px;
    font-size: 20px;
    border-radius: 7px;
    box-shadow: 0 15px 15px rgba(0,0,0,.1);
}
#box3, #box4, #box5, #box6, #box7, #box8, #box9, #box10, #box11 {
    flex-direction: column;
    box-sizing: border-box;
    align-items: left;
    background-color: white;
    padding: 20px;
    margin: 20px;
    color:black;
    width: 300px;
    height: 200px;
    font-size: 20px;
    border-radius: 7px;
    box-shadow: 0 15px 15px rgba(0,0,0,.1);
   display: none;
}

#box12 {
    flex-direction: column;
    box-sizing: border-box;
    align-items: left;
    background-color: white;
    padding: 20px;
    margin: 20px;
    color:black;
    width: 300px;
    font-size: 20px;
    border-radius: 7px;
    box-shadow: 0 15px 15px rgba(0,0,0,.1);
   display: none;
}
form input {
    margin-bottom: 5%;
}
form select {
    margin-bottom: 5%;
}
form button {
    width: 100%;
    height: 30px;
}